<nav>
    <b><i class="fas fa-home"></i>　ホーム</b>
    <b><i class="fas fa-hashtag"></i>　話題を検索</b>
    <b><i class="far fa-bell"></i>　通知</b>
    <b><i class="far fa-envelope"></i>　メッセージ</b>
    <b><i class="far fa-bookmark"></i>　ブックマーク</b>
    <b><i class="far fa-list-alt"></i>　リスト</b>
    <b><i class="far fa-user"></i>　プロフィール</b>
    <b><i class="far fa-comment-dots"></i>　もっと見る</b>
    <a href="/tweets/new"><c class="btn-gradient-radius">ツイートする</c></a>   
</nav>